.header-container {
  align-items: center;
  background-color: #f0f0f0;
  border-bottom: solid 2px #e7e2e2;
  display: flex;
  height: 3.7rem;
  position: fixed;
  width: 100%;
}

.show-image-profile {
  border-radius: 50%;
  position: absolute;
}

.show-image-profile img {
  border-radius: 50%;
  margin-left: 20px;
}

.hide-image-profile {
  display: none;
  position: absolute;
}

.header-repositories-container {
  align-items: center;
  display: flex;
  margin-left: 33%;
}

.header-repositories-number {
  background-color: #cacdcf;
  border-radius: 50%;
  border: solid 3px #cacdcf;
  margin: 5px;
}

@media only screen and (max-width: 1000px) {
  .header-container {
    justify-content: flex-start;
    position: initial;
  }

  .show-image-profile {
    display: none;
  }

  .header-repositories-container {
    margin-left: 0;
  }
}
